@font-face {
    font-family: jetbrains-mono;
    src: url(JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: Inter;
    src: url(Inter-Regular.woff2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: "Inter";
    color: white;
    /* scroll-behavior: smooth; */
    /* cursor: none; */
}

a {
    text-decoration: none;
    text-decoration-color: #ffffff;
    color: #ffffff;
}

main {
    width: 100%;
}
::selection{
    background-color: white;
    color: black;
}

/* Side bar  */

.sidebar {
    position: fixed;
    width: 40px;
    height: 200px;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    display: flex;
    flex-direction: column;
    top: 50%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    row-gap: 8px;
    z-index: 999;
}

.navigator {
    width: 23px;
    height: auto;
}


/* Blur  */
.blueblur {
    position: fixed;
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    filter: blur(900px);
    right: -30vw;
    top: -30vw;
    opacity: 80%;
}

.orangeblur {
    position: fixed;
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, #FEBE49, #FDA92C);
    filter: blur(900px);
    left: -30vw;
    bottom: -30vw;
    opacity: 70%;
}

@media (max-width: 768px) {

    .orangeblur,
    .blueblur {
        width: 80vw;
        height: 80vw;
    }

    .orangeblur {
        opacity: 40%;
    }
}

/* Social Icon Start */

.social{
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    right: 2vw;
    background: linear-gradient(to bottom, #FD9903, #F7430A);
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.3em;
    font-family: sans-serif;
    line-height: 40px;
}



.social-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: auto;
    width: 60px;
    bottom: 100px;
    right: 2vw;
    z-index: 999;
    line-height: 40px;
}

.s-icon{
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
    z-index: 999;
}

.s-icon:hover i{
    color: #fff;
}
.s-icon .fa-facebook-f{
    color: #1A6ED8;
}
.fb:hover{
    background: #1A6ED8;
}
.s-icon .fa-x-twitter{
    color: #000;
}
.twt:hover{
    background: #000000;
}
.s-icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover{
    background: #0077B5;
}
.s-icon .fa-instagram{
    color: #bc1888; 
}
.insta:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.s-icon .fa-youtube{
    color: #FE0000;
}
.yt:hover{
    background: #FE0000;
}

.social-icon.hidden {
    display: none;
}

/* Social Icon End */




/* Custom cursor  */
/* .cursor{
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}
.cursorstroke{
    width: 30px;
    height: 30px;
    border:2px solid #f77d0a;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}
@media (max-width: 768px) {
    .cursor,.cursorstroke{
        display: none;
    }
} */

/* Scrollbar  */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border: 0.1px solid rgba(255, 255, 255, 0.292);
    border-radius: 100vw;
    margin-block: .80em;

}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #FD9903, #F7430A);
    border-radius: 100vw;
}

/* @supports(scrollbar-color: #065DEE  black){
    *{
        scrollbar-width: auto;
        scrollbar-color: #065DEE  black;
    }
} */


/* Resha (Clivage) */
.resh1,
.resh2,
.resh3,
.resh4,
.resh5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    z-index: 1;
    background-color: #000;
}

.reshorange1,
.reshorange2,
.reshorange3 {
    width: 0.125vw;
    height: 0vw;
    background: linear-gradient(to bottom, #d9d9d900, #FF8C05, #73737300);
}



.reshblue1,
.reshblue2 {
    width: 0.125vw;
    height: 0vw;
    background: linear-gradient(to bottom, #d9d9d900, #057eff, #73737300);
}

@media (min-width:768px) and (max-width:1024px) {

    .reshorange1,
    .reshorange2 {
        height: 0vw;
    }

    .reshblue {
        height: 0vw;
    }

    .resh3,
    .resh1,
    .resh2 {
        height: 25vw;
    }
}

@media (min-width:0px) and (max-width:768px) {

    .reshorange1,
    .reshorange2 {
        height: 0vw;
    }

    .reshblue {
        height: 0vw;
    }

    .resh3,
    .resh1,
    .resh2 {
        height: 45vw;
    }
}

/* About Section Style Start*/

.about {
    width: 90%;
    margin: 16vh auto;
}

.about-div {
    background-color: #1F1F1F;
    filter: drop-shadow(0, 0, #00000024);
    height: 100%;
    border-radius: 30px;
    color: #ffffff;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}


.about-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    align-items: center;
    padding: 0px 30px;
    border-bottom: 0.3px solid #ffffff5b;
}

.about-nav span {
    justify-self: start;
}

.about-nav .about-navicons {
    justify-self: end;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.about-description {
    height: 60vh;
    padding: 5% 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-description ol {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    font-family: 'jetbrains-mono';
    font-size: 1.1em;
    font-weight: 100;
    margin-left: 1em;
}

.about-light-blue {
    color: #7DF9FF;
}

.about-purple {
    color: #F476FF;
}

.about-yellow {
    color: #F4F842;
}

.about-orange {
    color: #FDA92C;
}

.about-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 30px;
    border-top: 0.3px solid #ffffff5b;
    width: 100%;
}

.about-footer span {
    justify-self: start;
}

.about-footer ul {
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;

}

@media (max-width: 768px) {
    .about-div {
        font-size: 0.7em;
    }

    .about-description ol {
        font-size: 1.1em;
    }

    .about-footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }


    .about-footer-pc-items {
        display: none;
    }
}

/* About Section Style End*/



/* Header Section Start */

header {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.logo-extended {
    width: 19vw;
    height: auto;
}

.contact-button {
    background-color: white;
    color: black;
    width: 9vw;
    height: 6vh;
    font-weight: 700;
    font-size: 1em;
    border-radius: 30px;
    border: none;
}

/* Header Section End */


/* Hero Section Start */

.herosection {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 16vh;
}

.tagline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vw;
}

.tagline-first {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
}

.tagline-second {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: -2.5vw;
    margin-left: 15vw;
}

.tagline-third {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: -2.2vw;
    margin-left: 40vw;
}


.crafting {
    font-size: 9.5vw;
    font-weight: 700;
    margin-top: 1vw;
}

.web {
    font-size: 9.5vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.your {
    font-size: 3.5vw;
    font-weight: 700;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: var(-webkit-background-clip);
    padding-top: 1.5vw;
}

.presence {
    font-size: 3.5vw;
    font-weight: 700;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: var(-webkit-background-clip);
}

.curly1,
.curly2 {
    font-size: 9.5vw;
    font-weight: 500;
    background: linear-gradient(to bottom, #FD9903, #F7430A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: var(-webkit-background-clip);
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 15vw;
    margin-top: 5vw;
}

.short-description {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
}

.square1,
.square2 {
    font-size: 5.5vw;
    font-weight: 100;
}

/* Services Section  */
.servicesection {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16vh;
    padding-bottom: 16vh;
    z-index: 0;
}

.sectiontitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titlemain {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 0.3vw;
}

.curlytitle1,
.curlytitle2 {
    font-size: 3.5vw;
    font-weight: 500;
    background: linear-gradient(to bottom, #FD9903, #F7430A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: var(-webkit-background-clip);
}

.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 170px;
    padding-right: 100px;
    column-gap: 200px;
}

.service1,
.service2,
.service3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.serviceimage {
    width: 35vw;
    height: auto;
}

.servicecontent {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 30px;
}

.servicetitle {
    font-size: 2.2vw;
}

.servicepara {
    font-size: 1.2vw;
    color: #969595;
}

.service-button {
    background: linear-gradient(to bottom, #019aec, #024ef2);
    color: white;
    width: 9vw;
    height: 3vw;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 30px;
    border: none;
}

.servicehighlightdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.servicehighlights{
    /* background-color: white; */
    height: 2rem;
    width: 2rem;
    border-radius: 30px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicehighlights-js{
    height: 1.6rem;
    width: 1.6rem;
}

.servicehighlights-relume img{
    height: 3rem;
    width: 3rem;
}


/* Media Query Started */

@media (min-width:768px) and (max-width:1024px) {
    .herosection {
        padding-top: 7vw;
    }

    /* Service Section  */
    .titlemain {
        font-size: 4vw;
    }

    .curlytitle1,
    .curlytitle2 {
        font-size: 4.7vw;
    }

    .services {
        padding-left: 150px;
        margin-top: 5vw;
    }

    .servicecontent {
        width: 100vw;
    }

    .serviceimage {
        width: 35vw;
    }

    .servicetitle {
        font-size: 2.7vw;
    }

    .servicepara {
        font-size: 1.5vw;
    }

    .service-button {
        width: 13.5vw;
        height: 4.5vw;
        font-size: 1.5vw;
    }
}

@media (min-width:425px) and (max-width:768px) {

    nav {
        padding: 15px;
    }

    .logo-extended {
        width: 40vw;
    }

    .contact-button {
        width: 18vw;
        height: 6vw;
        font-size: 2vw;
    }

    .herosection {
        padding-top: 30vw;
    }

    .crafting,
    .curly1,
    .curly2,
    .web {
        font-size: 14vw;
    }

    .presence,
    .your {
        font-size: 6vw;
    }

    .tagline-second {
        margin-top: -4vw;
        margin-left: 20vw;
    }

    .tagline-third {
        margin-top: -3vw;
        margin-left: 55vw;
    }

    .description {
        margin-top: 10vw;
    }

    .short-description {
        font-size: 4vw;
    }

    .square1,
    .square2 {
        font-size: 13vw;
    }

    /* Service Section  */
    .titlemain {
        font-size: 7vw;
    }

    .curlytitle1,
    .curlytitle2 {
        font-size: 8vw;
    }

    .service1,
    .service2,
    .service3 {
        flex-direction: column-reverse;
        margin: 5vh 0;
    }

    .services {
        padding-left: 100px;
        margin-top: 1vw;
        flex-direction: column;
    }

    .servicecontent {
        width: 70vw;
        align-items: center;
        text-align: center;
    }

    .serviceimage {
        width: 75vw;
    }

    .servicetitle {
        font-size: 6vw;
    }

    .servicepara {
        font-size: 3vw;
    }

    .service-button {
        width: 22.5vw;
        height: 7.5vw;
        font-size: 2.5vw;
    }
}

@media (min-width:375px) and (max-width:425px) {

    nav {
        padding: 15px;
    }

    .logo-extended {
        width: 40vw;
    }

    .contact-button {
        width: 22vw;
        height: 4.8vh;
        font-size: 0.7em;
    }

    .herosection {
        padding-top: 35vw;
    }

    .crafting,
    .curly1,
    .curly2,
    .web {
        font-size: 14vw;
    }

    .presence,
    .your {
        font-size: 6vw;
    }

    .tagline-second {
        margin-top: -4vw;
        margin-left: 20vw;
    }

    .tagline-third {
        margin-top: -3vw;
        margin-left: 55vw;
    }

    .description {
        margin-top: 10vw;
    }

    .short-description {
        font-size: 4vw;
    }

    .square1,
    .square2 {
        font-size: 13vw;
    }

    /* Service Section  */
    .titlemain {
        font-size: 7vw;
    }

    .curlytitle1,
    .curlytitle2 {
        font-size: 8vw;
    }

    .service1,
    .service2,
    .service3 {
        flex-direction: column-reverse;
        margin: 5vh 0;
    }

    .services {
        padding-left: 100px;
        margin-top: 1vw;
        flex-direction: column;
    }

    .servicecontent {
        width: 70vw;
        align-items: center;
        text-align: center;
    }

    .serviceimage {
        width: 75vw;
    }

    .servicetitle {
        font-size: 6vw;
    }

    .servicepara {
        font-size: 3vw;
    }

    .service-button {
        width: 22.5vw;
        height: 7.5vw;
        font-size: 2.5vw;
    }
}

@media (min-width:320px) and (max-width:375px) {

    nav {
        padding: 15px;
    }

    .logo-extended {
        width: 40vw;
    }

    .contact-button {
        width: 22vw;
        height: 4vh;
        font-size: 0.7em;
    }

    .herosection {
        padding-top: 45vw;
    }

    .crafting,
    .curly1,
    .curly2,
    .web {
        font-size: 14vw;
    }

    .presence,
    .your {
        font-size: 6vw;
    }

    .tagline-second {
        margin-top: -4vw;
        margin-left: 20vw;
    }

    .tagline-third {
        margin-top: -3vw;
        margin-left: 55vw;
    }

    .description {
        margin-top: 10vw;
    }

    .short-description {
        font-size: 4vw;
    }

    .square1,
    .square2 {
        font-size: 13vw;
    }

    /* Service Section  */
    .titlemain {
        font-size: 7vw;
    }

    .curlytitle1,
    .curlytitle2 {
        font-size: 8vw;
    }

    .service1,
    .service2,
    .service3 {
        flex-direction: column-reverse;
        margin: 5vh 0;
    }

    .services {
        padding-left: 100px;
        flex-direction: column;
    }

    .servicecontent {
        width: 70vw;
        align-items: center;
        text-align: center;
    }

    .serviceimage {
        width: 75vw;
    }

    .servicetitle {
        font-size: 6vw;
    }

    .servicepara {
        font-size: 3vw;
    }

    .service-button {
        width: 22.5vw;
        height: 7.5vw;
        font-size: 2.5vw;
    }
}

@media (max-width:320px) {
    nav {
        padding: 15px;
    }

    .logo-extended {
        width: 40vw;
    }

    .contact-button {
        width: 18vw;
        height: 6vw;
        font-size: 2vw;
    }

    .herosection {
        padding-top: 45vw;
    }

    .crafting,
    .curly1,
    .curly2,
    .web {
        font-size: 14vw;
    }

    .presence,
    .your {
        font-size: 6vw;
    }

    .tagline-second {
        margin-top: -4vw;
        margin-left: 20vw;
    }

    .tagline-third {
        margin-top: -3vw;
        margin-left: 55vw;
    }

    .description {
        margin-top: 10vw;
    }

    .short-description {
        font-size: 4vw;
    }

    .square1,
    .square2 {
        font-size: 13vw;
    }

    /* Service Section  */
    .titlemain {
        font-size: 7vw;
    }

    .curlytitle1,
    .curlytitle2 {
        font-size: 8vw;
    }

    .service1,
    .service2,
    .service3 {
        flex-direction: column-reverse;
        margin: 5vh 0;
    }

    .services {
        padding-left: 100px;
        margin-top: 1vw;
        flex-direction: column;
    }

    .servicecontent {
        width: 70vw;
        align-items: center;
        text-align: center;
    }

    .serviceimage {
        width: 75vw;
    }

    .servicetitle {
        font-size: 6vw;
    }

    .servicepara {
        font-size: 3vw;
    }

    .service-button {
        width: 22.5vw;
        height: 7.5vw;
        font-size: 2.5vw;
    }
}

/* Hero Section End */



/* Portfolio Section Started  */

.portfolio {
    width: 90%;
    margin: 0 auto;
    margin-top: 16vh;
    height: auto;
    overflow-x: hidden;
    z-index: 1;
    background-color: #000;
}

.portfolio .sectiontitle {
    margin-bottom: 8vh;
}



.swiper {
    width: 100%;
    border-radius: 20px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #1F1F1F;
    filter: drop-shadow(0, 0, #00000024);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 20px;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.portfolio-background1,
.portfolio-background2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* Set your background color */
    opacity: 0;
    /* Initial opacity */
    z-index: 1;
}

.portfolio-name1,
.portfolio-name2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 2;
    /* Ensure text is above the background */
    opacity: 0;
    /* Ensure text opacity is 1 */
}


.swiper-wrapper {
    border-radius: 20px;
}

.swiper-pagination{
    position: relative !important;
    margin-top: 20px;
}

.swiper-pagination-bullet{
    background-color: #3d3d3d !important;
}

.swiper-pagination-bullet{
    background-color: #ffffff !important;
}

.portfolio-hider{
    height: 16vh;
    z-index: 1;
    background-color: #000;
}

@media (max-width: 768px) {
    .portfolio {
        height: auto;
    }

    .portfolio-name1,
    .portfolio-name2 {
        font-size: 1.5em;
    }

    .portfolio-hider{
        height: 12vh;
    }
}



/* Portfolio Section Ended  */

/* FAQ section  */
.faqsection {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16vh;
    z-index: 2;
    background-color: #000;
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: black;
    padding: 30px 40px;
    padding-bottom: 60px;
    border-radius: 30px;
    border: 2px solid #ee9506;
    margin-top: 5vh;
    margin-bottom: 10vh;
    /* border-image: linear-gradient(to right, #55B8FF, #065DEE) 100; */
}

.faq {
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1rem;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 15%, #55B8FF, #065DEE, transparent 85%) 100;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    transition: transform 0.2s;
}

.answer {
    padding-top: 1rem;
    line-height: 1.6em;
    font-size: 0.9rem;
    transition: max-height 0.2s;
    color: rgb(157, 156, 156);
}

@media (max-width: 768px) {
    .faqs {
        width: 85%;
        /* padding: 20px 20px; */
        border: 1.5px solid #ee9506;
        margin-top: 8vh;
    }
    .faq{
        border-image: linear-gradient(to right, transparent 25%, #55B8FF, #065DEE, transparent 75%) 100;
    }
}

@media (max-width: 425px) {
    .faqs {
        width: 85%;
        /* padding: 20px 20px; */
        border: 1px solid #ee9506;
        margin-top: 8vh;
    }
    .faq{
        border-image: linear-gradient(to right, transparent 45%, #55B8FF, #065DEE, transparent 55%) 100;
    }
}


/* Process Section Started */



.process .sectiontitle {
    padding-bottom: 8vh;
    z-index: 1;
    background-color: #000;
    padding-top: 16vh;
    overflow-x: hidden;
}

.process-timeline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
}

.timeline-progress {
    z-index: -2;
    background-color: #3f2614;
    width: 3px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.timeline-progress-bar {
    z-index: -1;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #FD9903, #F7430A);
    width: 3px;
    height: 52vh;
    position: fixed;
    top: 0;
    left: auto;
    right: auto
}

.timeline-item {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    position: relative;
    top: 7rem;
}

.timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.sticky-text-left {
    position: sticky;
    top: 47.5vh;
}

.timeline-step-number-text {
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-right: 0;
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 47.5vh;
    text-align: right;
    z-index: 2;
}

.timeline-step-number {
    opacity: 1;
    color: #065DEE;
    overflow-wrap: normal;
    font-family: "Oswald", sans-serif;
    font-size: 12em;
    font-weight: 500;
    line-height: 200px;
    position: absolute;
    top: -160%;
    bottom: 0%;
    left: 30%;
    right: auto;
    z-index: 1;
}

.timeline-center {
    justify-content: center;
    display: flex;
}

.timeline-arrow {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    width: 30px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    position: sticky;
    top: 52vh;
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, .66);
}

.timeline-arrow img {
    margin-top: -10px;
    margin-left: -1px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.timeline-right {
    padding-bottom: 20px;
}

.timeline-heading {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
}

.timeline-image {
    background-image: none;
    background-position: 0 0;
    border-radius: 12px;
    overflow: visible;
}

.timeline-image-div {
    box-shadow: none;
    border-style: none;
    width: 80%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.timeline-image-div img {
    padding-left: 0;
    padding-right: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.timeline-description {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 150%;
}

.ti-4 {
    padding-bottom: 0;
}

.hider{
    height: 30vh;
    background-color: black;
}

@media (max-width: 1200px){
    .timeline-step-number{
        font-size: 10em;
        left: 10%;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }
}
@media (max-width: 992px){
    .timeline-step-number{
        font-size: 8em;
        left: 0;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }


}

@media (max-width: 767px) {
    .timeline-progress {
        left: 25px;
    }

    .timeline-item {
        grid-template-columns: 64px 1fr;
        width: 100%;
        padding-top: 140px;
    }

    .timeline-left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .sticky-text-left {
        position: relative;
        top: 0;
    }

    .timeline-step-number-text {
        margin-bottom: 24px;
        font-size: 2em;
        position: relative;
        top: 0;
        text-align: left;
    }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -489%;
        left: -2%;
    }

    .timeline-center {
        grid-area: 1 / 1 / 3 / 2;
        justify-content: flex-start;
    }

    .timeline-heading {
        font-size: 1.2em;
    }

    .timeline-description {
        margin-bottom: 48px;
        font-size: 1rem;
    }

    .hider{
        height: 20vh;
    }
}

@media (max-width: 479px) {
    .timeline-item {
        grid-template-columns: 48px 1fr;
        padding-left: 20px;
        padding-right: 10px;
    }

    .timeline-left {
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline-step-number-text {
        font-size: 1.8em;
        line-height: 1.4;
    }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -407%;
        left: -1%;
    }

    .timeline-center {
        margin-left: -11px;
    }

    .timeline-heading {
        text-align: left;
        font-size: 1.2em;
    }

    .timeline-description {
        margin-bottom: 20px;
    }
    .timeline-image-div{
        width: 100%;
    }
}



/* Contact Section Start */

.contactsection{
    z-index: 2;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin-bottom:2vh;
    padding: 50px 0;
    box-shadow: 0 0 20px 30px black;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    /* border-image: linear-gradient(to right, transparent 5%, #FD9903, #F7430A, transparent 95%) 100; */
}
.emails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    row-gap: 5px;
}
.schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.heading{
    width: 100%;
    font-size: 1.7vw;
    font-weight: 550;
    padding-bottom: 25px;
   color: white;
}
.book{
    width: 100%;
    font-size: 1.7vw;
    font-weight: 550;
    padding-bottom: 25px;
    color: white;
}
a{
    color: rgb(154, 152, 152);
}
.schedule-button {
    /* background-color: rgb(187, 184, 205); */
    color: rgb(255, 255, 255);
    width: 9vw;
    height: 3vw;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    margin-top: 5px;
    background: linear-gradient(to bottom, #55B8FF, #065DEE)
}
@media (max-width: 767px) {
    .heading,.book{
        font-size: 6vw;
    }
    .contactsection{
        flex-direction: column;
        row-gap: 40px;
    }
    .schedule-button{
        width: 27vw;
        height: 9vw;
        font-size: 2.5vw;
    }
}

/* Footer section  */
footer{
    display: flex;
    justify-content: center;
    height: auto;
    z-index: 2;
    background-color: black;
    overflow: hidden;
    padding-top: 5vh;
}
/* .footerblueblur {
    position: absolute;
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    filter: blur(900px);
    opacity: 80%;
} */
.logo{
    width: 12vh;
}
.rights{
    color: rgb(151, 151, 151);
    font-size: 1.9vh;
    text-align: center;
}
.identity{
    color: rgb(151, 151, 151);
    font-size: 2.2vh;
    text-align: center;
}
.footer-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 97%;
    padding: 40px 0;
    border-radius: 30px 30px 0 0;
    align-items: center;justify-content: space-evenly;
    overflow: hidden;
    /* background: linear-gradient(to bottom, #011f54,#010013); */
    background-color: #121212;
}
@media (max-width: 767px) {
    .rights{
        font-size: 1.5vh;
    }
    .identity{
        font-size: 1.7vh;
    }
}